<html xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h2>登录界面</h2>
        收到参数：email是:{email}</br>
        密码是:{pwd}
        <form action="./login" method="post">
            <table>
                <tr>
                    <td>email:</td>
                    <td><input type="text" name="email"></td>
                </tr>
                <tr>
                    <td>密码:</td>
                    <td><input type="password" name="pwd"></td>
                </tr>
                <tr>
                    <td align="center">
                        <input type="submit" value="登录">
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
